.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 250px;
  height: 400px;
  border: 2px solid #3B5998;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.likeButton {
  outline: none;
  position: absolute;
  top: 1px;
  right: 3px;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 10px 0 26px;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.article{
  font-size: 8px;
  text-align: left;
}

.itemAvatar {
  height: 200px;
  max-width: 200px;
}

.description {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 51px;
  position: absolute;
  bottom: 0;
}

.card:hover {
  box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);

  .description {
    opacity: .3;
  }

  .btnContainer {
    transform: translateY(0);
  }
}
.quantity {
  font-weight: 500;
  font-size: 18px;
}

.btnContainerTop {
  display: flex;
  align-items: center;

  .btn {
    width: 25px !important;
    height: 25px !important;
    min-width: unset!important;
    padding: unset !important;
    margin-left: 15px;
  }
}