.modalBackground {
	width: 100%;
	height: 100%;

	position: absolute;
	inset: 0;
	background-color:gray;
}

.modal {
	max-width: 520px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	border-radius: 5px;
	overflow: auto;
	background-color: rgba(231, 76, 60);
}

.modalHeader {
	background-color: rgba(212, 70, 55);
	padding: 20px 30px;
	font-size: 22px;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.moduleCloseButton {
	width: 25px;
	height: 25px;
	border: solid 1px white;
	background-color: transparent;
	color: #fff;
	padding: 0;
	cursor: pointer;
}

.moduleCloseButton::after {
        font-size: 20px;
        color: white;
        display: block;
        content: "×";
      }


.modalBody {
	margin: 35px 0;

	p {
		text-align: center;
		padding: 0 35px;
		font-size: 15px;
	}
}

footer {
	padding-bottom: 25px;

	div {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}
