* {
    margin: 0;
    padding: 0;
}

.body {

    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    background-image: url(../../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 528px;
    padding-bottom: 133px;
}

.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-bottom: 22px;
}

.hero-slogan {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 38px 31px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    border: 2px solid white;
    width: max-content;
}

/*05.02.22*/

.about {
    text-align: center;
}

.about-title {
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.about-subtitle {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 24px;
    color: #4d4943;
}

.about-line {
    width: 60px;
    height: 3px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
    border: none;
    margin: 0 auto;
    margin-bottom: 50px;
}

.about-navigation {
    padding: 22px 0;
    border-bottom: 3px solid #F1B128;
}

.about-navigation-title {
    display: inline-block;
    font-size: 28px;
    text-transform: uppercase;
    color: #F48E0B;
    font-weight: bold;
}

.about-navigation {
    text-align: left;
}

.about-menu {
    display: inline-block;
}

.about-menu-item {
    display: inline-block;
    margin-left: 70px;
}

.about-menu-link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: #3D3D3D;
}

.consulting {
    display: flex;
    justify-content: space-between;
}

.consulting-portfolio {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 15px);
    column-gap: 30px;
    row-gap: 22px;
}

.consulting-info {
    width: calc(50% - 15px);
}

.consulting-info-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.consulting-info-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
}

.consulting-info-link {
    padding: 19px 27px;
    background-color: #F1AD1D;
    font-size: 14px;
    line-height: 14px;
    color: white;
    display: inline-block;
}

.margin-block {
    margin-block: 150px;
    margin-bottom: 150px;
}

.orange-text {
    color: #F48E0B;
}

/*07.02.22 GOOODS*/
.goods {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1000px;
}

.goods-item {
    width: 370px;
    margin-bottom: 20px;
    border-bottom: 2px solid #333333;
    padding-bottom: 5px;
}

.goods-item-img {
    margin-bottom: 7px;
}

.goods-item-heder {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.goods-item-pencil {
    padding: 11px;
    background: #333333;
}

.goods-item-title {
    margin-left: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

}

.goods-item-text {
    padding-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
}

.goods-item-footer {
    display: flex;
    justify-content: space-between;
}

.goods-item-date, .goods-item-link {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #828282;
}

/*Grid 09.02*/
/*Position*/
.works-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
    column-gap: 14px;
}

.works-item {
    padding: 14px 41px;
    font-size: 14px;
    border: 1px solid;
    transition: 0.5s ease;
    transition-property: color, background-color;

}

.works-item:hover {
    background-color: #333;
    color: #F1AD1D;
}

.works-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.works-hover {
    padding: 51px 13px 37px;
    text-align: center;
    border: 1px solid black;
}

.works-hover-title {
    color: #111;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
}

.works-hover-line {
    width: 64px;
    height: 3px;
    margin: 0 auto 28px;
    border: none;
    background: #F1AD1D;
}

.works-hover-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 27px;
}

.works-hover-link {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 33px;
    color: white;
    background-color: #F48E0B;
}
.works-wrapper-item {
    position: relative;
    overflow: hidden;
}

.works-hover {
    position: absolute;
    top: -500px;
    left: 0;
    height: 100%;
    background-color: #fff;
    transition: 0.5s;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
}

.works-wrapper-item:hover .works-hover {
    opacity: 1;
    top: 0;
    pointer-events: all;
}


.exam{
    text-align: left;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-color: black;

}