body {
    background: #000000;
    color: #FFE81F;
}


.container {

}


.film-wrapper {
    margin: 20px;
    padding: 20px;
    border: #FFE81F solid 2px;
}

.film-wrapper_title{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px;
}

.film-wrapper_text{
    font-size: 16px;
    margin: 20px;
}

.film-wrapper__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

li{
    margin: 10px;
}


.spinner {
    font-size: 8px;
    width: 10em;
    height: 10em;
    border-top: 1em solid #FFE81F;
    border-right: 1em solid transparent;
    animation: spinner 0.4s linear infinite;
    border-radius: 50%;
    margin: auto;
}
.head {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
    background-color: #FFE81F;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}