.top-menu {
    display: flex;
    justify-content: space-between;
    background: #313131;
}

.top-menu-logo {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.top-menu-logo-title {
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.logo-pic {
    padding: 20px 20px;
}

.top-menu-list {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
}

.top-menu-list-link {
    margin-left: 35px;
    color: #FFFFFF;
}

.top-menu-list-link:hover {
    color: #14B9D5;
    cursor: pointer;
}

.header-search {
    padding: 25px;
    align-self: center;
    background: #000000;
    margin-left: 35px;
    cursor: pointer;
}

.top-img {
    background-image: url(../images/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.top-img-title {
    text-align: center;
    padding-bottom: 44px;
    padding-top: 163px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.btns {
    text-align: center;
    padding-bottom: 74px;
}

.btn {
    width: 170px;
    height: max-content;
    padding: 16px 19px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border-radius: 4px;
    color: #FFFFFF;
    background: #FF0000;
}

.btn-color {
    background: #14B9D5;
}

.title-fof-section {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    padding-top: 49px;
    padding-bottom: 52px;
    color: #18B4CF;
}

.post {
    background: #F2F2F2;
}

.popular-posts {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    max-height: 1100px;
    padding-bottom: 72px;
    width: 100%;
    background: #F2F2F2;
}

.popular-posts-item {
    background-color: white;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.popular-posts-title {
    padding: 21px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.popular-clients {
    background-image: url(../images/img_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 192px;
    background-attachment: fixed;
    height: 80vh;
}

.popular-clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 106px;
    padding-bottom: 87px;
    color: #FFFFFF;
}

.popular-clients-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
}

.popular-clients-logo {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 107px;
    padding-bottom: 192px;
}

.top-rated {
    display: grid;
    justify-content: space-around;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.pic-top-rated {
    width: 100%;
}

.container {
    width: 1168px;
    margin: 0 auto;
}

.hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 44px;
    column-gap: 60px;
    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}

.hot-news-content {
    text-align: right;
    font-size: 14px;
    line-height: 21px;
    margin: 14px 14px 3px;
}

.hot-news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.micro-pic {
    text-align: center;
}

.hot-news-item1 {
    grid-area: item1;
    background: #F9F7F7;
}

.hot-news-item2 {
    grid-area: item2;
    background: #F9F7F7;
}

.hot-news-item3 {
    grid-area: item3;
    background: #F9F7F7;
}

.hot-news-item4 {
    grid-area: item4;
    background: #F9F7F7;
}

.hot-news-item5 {
    grid-area: item5;
    background: #F9F7F7;
}

.hot-news-item6 {
    grid-area: item6;
    background: #F9F7F7;
}

.hot-news-item7 {
    grid-area: item7;
    background: #F9F7F7;
    column-gap: 35px;
}

.hot-news-item8 {
    grid-area: item8;
    background: #F9F7F7;
}

.footer {
    background: #000000;
    margin-top: 77px;
}

.page-footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 500px 100px;
    padding-top: 29px;
    padding-bottom: 27px;
}

.page-footer-text {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.link-style {
    display: flex;
}