:root {
    --main-gradient: linear-gradient(90deg, #ec6f66 0%, #f3a183 100%)
}

.rewards {
    width: 900px;
    margin: 100px auto;
}

.rewards__title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 50px;
    -webkit-background-clip: text;
    background-image: var(--main-gradient);
    color: transparent;
}

.rewards__wrapper {
    border-radius: 10px;
    padding: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    column-gap: 2em;
}

.rewards__item-title {
    display: inline-block;
    padding: 22px 24px;
    background-image: var(--main-gradient);
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    color: #f7f7fa;
    border-radius: 6px;
}