.container {
    width: 1280px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.theme{
    padding: 20px;
    margin: 30px;
    color: white;
    background: black;
}

.logo {
    margin-top: 63px;
    margin-bottom: 38px;
    font-size: 80px;
    line-height: 94px;
}

.logo-element-blue {
    color: #4BCAFF;
}

.top-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 28px;
    background: #35444F;
}

.top-navigation-item {
    padding: 26px 20px 19px;
    border-right: solid white;
}

.top-navigation-item:first-child {
    border-left: solid white;
}

.top-navigation-item a {
    color: white;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    width: 27%;
    display: flex;
    height: max-content;
    font-size: 27px;
    line-height: 27px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.nav-left-list {
    width: 100%;
}

.nav-left-list-link {
    padding: 25px 44px;
    color: #495863;
}

.content-img {
    display: flex;
    justify-content: center;
    padding: 75px 73px;
    margin-bottom: 37px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.content-text {
    width: 885px;
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 68px;
    margin-top: 54px;
    margin-bottom: 34px;
    font-size: 28px;
    line-height: 28px;
    background: rgba(99, 105, 110, 0.48);


}

.top-navigation-item:hover {
    background: #222F3A;
}

.nav-left-list-link:hover {
    padding-left: 70px;
    color: #35444F;
    background: #DBDBDB;
}

.footer-naw-link:hover {
    color: #3181A6;
    border-bottom: 1px solid;

}

.content-img:hover {
    text-replace: scale(2);
}

.zoom {
    transition: 1.4s;
}

.zoom:hover {
    transform: scale(1.2);
}