* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;

}

.container {
    width: 1170px;
    margin: 0 auto;
}

.hero {
    background-image: url(../../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 528px;
    padding-bottom: 133px;
}

.hero-title {
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px;
}

.hero-subtitle {
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-bottom: 22px;
}

.hero-slogan {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 38px 31px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    border: 2px solid white;
    width: max-content;
}

.orange-text {
    color: #F48E0B;
}
