body{
    background: #141526;
    text-align: center ;
    margin: 0 auto;
}
.container {
    text-align: center;
}

.btnSearchIp{
    color: white;
    background: #141526;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    border: powderblue solid 3px;
    border-radius: 50%;
    font-weight: bold;
}

.card{
    margin: auto;
    width: max-content;
    background: #9193a8;
}

.card__list{
    padding: 30px;
}

.card__item{
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}