* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
}

body {
    font-family: Montserrat;
}

.header {
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);

}

.top-menu-item {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 31px;
    letter-spacing: 2.7px;

}

.top-menu-item a {
    text-decoration: none;
    color: #FF0000;
}

.image-telephone {
    width: 100%;
    margin-bottom: 49px;
}

.title {
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.text {
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-bottom: 28px;
    color: #373737;
}

.btn {
    display: block;
    margin: 66px auto;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background: #FF0000;
    color: #FFFFFF;
}

.copyright {
    font-weight: bold;
    text-align: right;
    margin-bottom: 29px;
    margin-top: 82px;
    letter-spacing: 2.4px;
    line-height: 20px;
    color: #373737;
}