.ticket {
    /* w800 */
    width: 800px;
    /* m150-auto */
    margin: 150px auto;
    /* p10 */
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f1c9;

    display: grid;
    grid-template-areas:
    'title title title title title title title title'
    'passenger passenger passenger passenger passenger passenger platform platform'
    'depart depart depart arrive arrive arrive platform platform'
    'date date time time car seat platform platform';
}

.ticket-title {
    grid-area: title;
}
.ticket-passenger {
    grid-area: passenger;
}
.ticket-depart {
    grid-area: depart;
}
.ticket-arrive {
    grid-area: arrive;
}
.ticket-date {
    grid-area: date;
}
.ticket-time {
    grid-area: time;
}
.ticket-car {
    grid-area: car;
}
.ticket-seat {
    grid-area: seat;
}
.ticket-platform {
    grid-area: platform;
}
.ticket > div {
    border: 1px solid black;
    padding: 16px;
}