.card-wrapper {
    margin: 20px;
    border: #0f0101 solid 1px;
    background: #DBDBDB;
}

.card-wrapper__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.card-wrapper__text {
    text-align: center;
    font-size: 16px;
    margin: 10px;
}

.spinner {
    font-size: 8px;
    width: 10em;
    height: 10em;
    border-top: 1em solid #FFE81F;
    border-right: 1em solid transparent;
    animation: spinner 0.4s linear infinite;
    border-radius: 50%;
    margin: auto;
}

.modal {
    border: black solid 2px;
    background: #DBDBDB;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin: 20px 30px 30px;
    gap: 20px;
}

.modal__button-wrapper {
    margin: 20px;
    display: flex;
    justify-content: end;
}


