.button {
  padding: 15px;
  min-width: 100px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(112, 112, 112);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border: solid 1px #0f0101;
  }
}
